:root {
    --light-gray: rgb(145, 164, 173);
    --magenta: #ED145B;
    --black: #000000;
    --gray: #616D72;
    --dark-gray: #32383B;
}

* {
    font-size: 62.5%;
}

p {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;

}


::-webkit-scrollbar-track {
    background: #610725;

}


::-webkit-scrollbar-thumb {
    background: #ED145B;
    border-radius: 100px;

}

@font-face {
    font-family: "GothamHTF-Bold";
    src: url(../fonts/GothamHTF-Bold.otf);
}

.font-gotham-bold {
    font-family: "GothamHTF-Bold";
}

@font-face {
    font-family: "GothamHTF-Book";
    src: url(../fonts/GothamHTF-Book.otf);
}

.font-gotham-book {
    font-family: "GothamHTF-Book";
}

@font-face {
    font-family: "GothamHTF-Medium";
    src: url(../fonts/GothamHTF-Medium.otf);
}

.font-gotham-medium {
    font-family: "GothamHTF-Medium";
}

body {
    background-color: #000000;
}

header {
    position: fixed;
    z-index: 2;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-light-gray {
    color: var(--light-gray);
}

.nav-link {
    transition: .4s;
    font-size: 1.5rem;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--magenta)
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: 3rem;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 1rem var(--light-gray)
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28145, 164, 173, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: .50rem;
}

.navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg);
}

.btn {
    --bs-btn-padding-x: 5rem;
    --bs-btn-padding-y: 1.4rem;
    --bs-btn-font-family: "GothamHTF-Book";
    --bs-btn-font-weight: 500;
    --bs-btn-font-size: 1.2rem;
    border-radius: 0;
    transition: .3s ease-in-out;
}

.btn-outline-danger {
    --bs-btn-color: var(--magenta);
    --bs-btn-border-color: var(--magenta);
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: var(--magenta);
    --bs-btn-hover-border-color: var(--magenta);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--magenta);
    --bs-btn-active-border-color: var(--magenta);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--magenta);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--magenta);
    --bs-gradient: none;
}

.btn-outline-danger:hover {
    box-shadow: 0rem 0rem 2rem var(--magenta);
}

.w-30 {
    width: 30%;
}

.bg-main {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100vh !important;
}

.bg-header-off {
    background-color: transparent;
    transition: .5s ease-in-out;
}

.bg-header-on {
    background-color: rgb(21, 24, 25);
    transition: .5s ease-in-out;
}

.margin-main {
    margin-top: 92.5px;
}

.main-title {
    font-size: 6rem;
}

.main-subtitle {
    font-size: 4rem;
}

.main-scrolldown {
    font-size: .9rem;
}

ul {
    list-style-type: none;
}


.ul-curso ul li {
    margin-bottom: 1rem;
    padding-left: 4rem;
    position: relative;
}


.ul-curso ul li:before {
    background-color: #616d72;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 4rem;
    width: 2rem;
}

.img-scrolldown {
    transition: .3s;
}

.img-scrolldown:hover {
    transform: scale(1.2);
}

.section-curso-title {
    font-size: 5rem;
}

.p-curso {
    font-size: 1.6rem;
    text-align: justify;
}

.border-p-curso {
    border-right: #616D72 1px solid;
}

.subtitle-curso {
    font-size: 1.6rem;
    color: var(--magenta);
}

.vh-55 {
    min-height: 55vh;
}

.matriz-title {
    font-size: 4.5rem;
}

.subtitle-matriz {
    font-size: 3rem;
    padding-left: 10rem !important;
}

.ul-matriz ul li {
    margin-bottom: 1rem;
    padding-left: 0rem;
    position: relative;
}


.ul-matriz ul li:before {
    background-color: #616d72;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 2.5rem;
    width: 8rem;
}

.accordion-button {
    font-size: 2.5rem;
    color: var(--light-gray);
}


.accordion-body {
    padding: 6rem;
}


.accordion {
    --bs-accordion-color: transparent;
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--light-gray);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-color: transparent;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-icon-width: 4rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.4s ease-in-out;
    --bs-accordion-btn-focus-border-color: 0;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-active-color: var(--light-gray);
    --bs-accordion-active-bg: transparent;
}


.accordion-button::after {
    background-image: url(../images/Abrir.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/Fechar.png);
}

.matriz-accordion-title {
    color: var(--magenta);
    font-size: 1.6rem;
}

.matriz-accordion-border {
    border-left: 1px solid var(--magenta);
    margin-left: 1rem;
    padding-top: 1rem;
}

.matriz-accordion-p {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: var(--gray);
}

.pink-border {
    border: var(--magenta) 2px solid;
    width: 5rem;
    position: absolute;
    left: 47.5%;
}

th {
    font-size: 1.4rem;
    color: var(--magenta);
    border: var(--dark-gray) solid 1px;  
}


td {
    border: var(--dark-gray) solid 1px;
    color: var(--light-gray);
    font-size: 1.1rem;
    
}

.font-size-price {
    font-size: 1.4rem;
}

.table {
    margin-top: 12rem;
    border: var(--light-gray) solid 1px;
}

.asterisk {
    font-size: 1.1rem;
    color: var(--gray);
}

.vh-75 {
    min-height: 75vh;
}



@media (max-width: 576px) {

    header {
        position: absolute;
    }

    .bg-header-off {
        background-color: rgb(21, 24, 25);
    }

    .main-title {
        font-size: 4rem;
        text-align: center;
    }

    .main-subtitle {
        font-size: 2rem;
        text-align: center;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .btn {
        margin-top: 1rem;
        --bs-btn-font-size: 1rem;
    }

    .main-scrolldown {
        font-size: .6rem;
    }

    .img-scrolldown {
        width: 25px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .border-p-curso {
        border-right: none;
        border-bottom: #616D72 1px solid;
    }

    .p-curso {
        font-size: 1.3rem;
        text-align: justify;
    }


    .subtitle-curso {
        display: none;
    }

    .vh-55 {
        min-height: 100vh;
    }
  
    .section-curso-title {
        font-size: 4rem;
    }

    .ul-matriz ul li:before {
        width: 4rem;
    }

    .matriz-title {
        font-size: 1.6rem;
    }

    .subtitle-matriz {
        font-size: 1.5rem;
        padding-left: 6rem !important;
    }

    #matriz .container {
        min-width: 90% !important;
    }

    .matriz-accordion-p {
        font-size: 1.2rem;
        margin-left: .5rem;
        color: var(--gray);
    }

    .matriz-accordion-title {
        color: var(--magenta);
        font-size: 1.4rem;
    }

    th {
        font-size: 1rem;
        padding: 4rem !important;
    }
    
    
    td {
        font-size: .8rem;
        padding: 4rem !important;
    }
    
    .font-size-price {
        font-size: 1rem;
    }
    
    .asterisk {
        font-size: .7rem;
    }
}

@media (max-width: 1279px) {

    .main-title {
        font-size: 5rem;
        text-align: center;
    }

    .main-subtitle {
        font-size: 2rem;
        text-align: center;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .btn {
        --bs-btn-font-size: 1rem;
    }

    .main-scrolldown {
        font-size: .8rem;
    }

    .img-scrolldown {
        width: 30px;
    }

    .p-curso {
        font-size: 1.2rem;
        text-align: justify;
    }

    .section-curso-title {
        font-size: 4rem;
        margin-top: 12rem;
    }

    .vh-55 {
        min-height: 100vh;
    }

    .matriz-title {
        font-size: 4rem;
    }

    .subtitle-matriz {
        font-size: 2.5rem;
        padding-left: 6rem !important;
    }
        
    .ul-matriz ul li:before {
        width: 4rem;
    }

    .accordion-button {
        font-size: 2rem;
    }
    
    .accordion-body {
        padding: 4rem;
    }

    #matriz .w-50 {
        min-width: 75%;
    }

    #turmas .w-50 {
        min-width: 75%;
    }
}